body {
  margin: 0;
  padding: 0;
  background-color: #eaeef1;
  min-height: 100vh;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h3,
h5,
p {
  margin: 0;
  padding: 0;
}

.modal {
  z-index: 10;
  top: 30vh;
  border-radius: 1rem;
  padding: 4rem 2rem;
  border: none;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.3);
}

.modal div {
  display: flex;
}

.modal div > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 1rem 1rem;
}

.modal h5 {
  font-size: 32px;
}

.modal input[type="text"] {
  font-size: inherit;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #e7e7e7;
}

.modal input[type="text"]:hover,
.modal input[type="text"]:active,
.modal input[type="text"]:focus {
  outline: none;
  border: none;
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 1rem 0 0;
}

.modal-actions button {
  font-size: inherit;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #4cce40;
  border: none;
}

.modal-actions button:hover {
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);
  color: #f0efef;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(9, 84, 196);
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.4);
  color: #e7e7e7;
  z-index: 3;
}

.navbar h1 {
  padding: 2rem;
}

.reset {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 62px;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: 2px solid #f0efef;
  background-color: rgb(218, 21, 21);
  color: #f0efef;
}

.reset:hover {
  color: #3f3f3f;
  border-color: #3f3f3f;
  background-color: rgb(255, 27, 27);
}

.display {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.player-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 36px;
  margin-bottom: 2rem;
}

.player-display p {
  padding-top: 1rem;
  font-size: 48px;
}

.currentTurn {
  background-color: rgb(60, 167, 50);
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.4);
}

.content {
  height: 70vh;
  width: 100%;
  margin: 3rem 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  width: 100%;
  padding: 2rem 0;
  position: absolute;
  top: -3rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 32px;
  background-color: #eaeef1;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.4);
}

.message button {
  font-size: 24px;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
  background-color: #fff5ba;
}

.message button:hover {
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.3);
}

.gameboard {
  width: 50vh;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #696969;
  padding: 10px;
  border-radius: 1rem;
}

.gameTile {
  background-color: #e7e7e7;
  font-size: 12vh;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 1rem;
}

.gameTile:hover {
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.4);
  background-color: #f0f0e7;
}

.gameTile.winningTile {
  background-color: rgb(60, 167, 50);
  color: #e7e7e7;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #3f3f3f;
  color: #e7e7e7;
  box-sizing: border-box;
}
